body {
  background-color: $background-color;
  color: $font-color;
  padding-top: 60px;
  padding-bottom: 40px;
}
.block-center {
  margin: 0 auto;
}
.hide {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  /* IE6 & 7 */
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.jumbotron {
  border-bottom: 2px solid #111;
  background-color: $jumbotron-bg;
  color: $font-color-light;
}
