@background-color: #f7f7f7;
@jumbotron-bg: #252525;
@header-footer-bg: #111;
@accent-color: #070;
//Font variables
@font-color: #0a0a0a;
@font-color-light: #fafafa;
//Table variables
@table-odd-color: #ddd;